@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --veryDesaturatedBlue: hsl(238, 29%, 16%);
}

body {
  font-family: 'Kumbh Sans';
  font-size: 12px;
  background-color: var(--mainBg);
}

.accordian-card {
  border-radius: 10px;
}

.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
